* {
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
}

html {
    font-size: 18px;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #000000;
    color: #ffffff;
}
